In [2]:
# class girls
print("DATA OF GIRLS IN CLASS \n")

girls = [["Evelyn","17","5.5",80],
        ["Jessica","17","6.0",85],
        ["Somto","17","5.4",70],
        ["Edith","18","5.9",60],
        ["Liza","16","5.6",76],
        ["Madonna","18","5.5",66],
        ["Waje","17","6.1",86],
        ["Tola","20","6.0",95],
        ["Aisha","19","5.7",50],
        ["Latifa","17","5.5",49]]

print(" NAMES     | AGE | HEIGHT | SCORE")

for i in girls:  
    print("",i[0]," "*(8-len(i[0])),"|",
          i[1]," "*(2-len(i[1])),"|",
          i[2]," "*(5-len(i[2])),"|",
          i[3], " " * (4 - len(str(i[3]))), )
#class boys
print("\nDATA OF BOYS IN CLASS \n")

boys = [["Chinedu", "19", "5.7", 74],
        ["Liam", "16", "5.9", 87],
        ["Wale", "18", "5.8", 75],
        ["Gbenga", "17", "6.1", 68],
        ["Abiola", "20", "5.9", 66],
        ["Kola", "19", "5.5", 78],
        ["Kunle", "16", "6.1", 87],
        ["George", "18", "5.4", 98],
        ["Thomas", "17", "5.8", 54],
        ["Wesley", "19", "5.7", 60]]

print(" NAMES     | AGE | HEIGHT | SCORE")

for i in boys:  
    print("",i[0]," "*(8-len(i[0])),"|",
          i[1]," "*(2-len(i[1])),"|",
          i[2]," "*(5-len(i[2])),"|",
          i[3], " " * (4 - len(str(i[3]))),)

DATA OF GIRLS IN CLASS

 NAMES     | AGE | HEIGHT | SCORE
 Evelyn    | 17  | 5.5    | 80
 Jessica   | 17  | 6.0    | 85
 Somto     | 17  | 5.4    | 70
 Edith     | 18  | 5.9    | 60
 Liza      | 16  | 5.6    | 76
 Madonna   | 18  | 5.5    | 66
 Waje      | 17  | 6.1    | 86
 Tola      | 20  | 6.0    | 95
 Aisha     | 19  | 5.7    | 50
 Latifa    | 17  | 5.5    | 49

DATA OF BOYS IN CLASS

 NAMES     | AGE | HEIGHT | SCORE
 Chinedu   | 19  | 5.7    | 74
 Liam      | 16  | 5.9    | 87
 Wale      | 18  | 5.8    | 75
 Gbenga    | 17  | 6.1    | 68
 Abiola    | 20  | 5.9    | 66
 Kola      | 19  | 5.5    | 78
 Kunle     | 16  | 6.1    | 87
 George    | 18  | 5.4    | 98
 Thomas    | 17  | 5.8    | 54
 Wesley    | 19  | 5.7    | 60